@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2e0249, #471e53, #3b0a50, #2a004f);
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
  padding: 0 1rem;
}

.countdown-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.time-segment {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100px; /* Set a fixed width */
}

.time-label {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
  animation: none;
}

@media (min-width: 640px) {
  .countdown-title {
    font-size: 3rem;
  }
  .countdown-timer {
    font-size: 2.5rem;
  }
  .time-segment {
    padding: 0.7rem 1.5rem;
    width: 120px; /* Set a larger fixed width for larger screens */
  }
}

@media (min-width: 768px) {
  .countdown-title {
    font-size: 4rem;
  }
  .countdown-timer {
    font-size: 3rem;
  }
  .time-segment {
    padding: 1rem 2rem;
    width: 140px; /* Adjust width as needed */
  }
}

@media (min-width: 1024px) {
  .countdown-title {
    font-size: 5rem;
  }
  .countdown-timer {
    font-size: 3.5rem;
  }
  .time-segment {
    padding: 1.2rem 2.5rem;
    width: 160px; /* Adjust width as needed */
  }
}
