---
import Countdown from '../components/Countdown.jsx';
---

<html>
  <head>
    <title>Countdown Page</title>
    <link rel="stylesheet" href="../styles/global.css">
	<link rel="stylesheet" href="../styles/countdown.css">
  </head>
  <body>
    <Countdown client:load />
  </body>
</html>
